= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "form-control top", placeholder: "Username or Email", autofocus: "autofocus", autocapitalize: "off", autocorrect: "off"
  = f.password_field :password, class: "form-control bottom", placeholder: "Password"
  .sign-in
    = f.submit "Sign in", class: "btn btn-save"
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{for: "user_remember_me"}
        = f.check_box :remember_me
        %span Remember me
      .pull-right
        = link_to "Forgot your password?", new_password_path(resource_name)
